@model Patient_Transport_Migration.Models.VM.MaakVervoerAanvraag.AanvraagTypesVM

@{
    ViewBag.Title = "Maak Vervoer Aanvraag";
}

<div class="content-container">
    <div class="content-left">
        <div>
            <label for="dllRequestTypes">Selecteer een aanvraag</label>
            @Html.DropDownListFor(m => m.SelectedAanvraagTypeId, new SelectList(Model.AanvraagTypeLijst, "Value", "Text"), "Aanvragen",
    htmlAttributes: new { id = "dllRequestTypes", onchange = "renderAanvraag(this.value)" })
        </div>
    </div>

    <div class="content-right">
        <div id="dvLoaderAanvraagDetails" class="ajax-loader"></div>
        <div id="dvAanvraagDetails"></div>
    </div>
</div>

<script>
    $(new function () {
        $dvContent = $("#dvAanvraagDetails");
        $dvContentRight = $(".content-right");
        $dvContentRight.hide();

        var requestType = $('#dllRequestTypes').val();    
        patient = "@Model.SelectedPatient";
        if (requestType != "") {
            renderAanvraag(requestType);
            patient = "";
        };
    });

    function renderAanvraag(type) {
        if (type == "") {
            $dvContent.html('');
            $dvContentRight.hide();
        } else {
            var $ajaxLoader = $('#dvLoaderAanvraagDetails');
            $ajaxLoader.show();
            $.ajax({
                type: "GET",
                async: true,
                url: "GetMaakVervoerAanvraag_AanvraagDetails?aanvraagTypeId="+type+"&patient="+patient,
                beforeSend: function () {
                    $dvContent.html('');
                }, success: function (result) {                 
                    $dvContent.html(result);
                }, error: function (jqXHR, textStatus, errorThrown) {
                    $dvContent.html(
                        "<p class=\"alert alert-warning\">Probleem met het verkrijgen van de data.<br />" + textStatus + ": " + errorThrown);
                }, complete: function () {
                    $ajaxLoader.hide();
                    $dvContentRight.show();
                }
            });
        }
    }
</script>
