@model Patient_Transport_Migration.Models.DAL.Dokter

<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.EditorFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ConsultOpen)</td>
        <td>@Html.EditorFor(m => m.ConsultOpen)</td>
    </tr>
</table>
