@model Patient_Transport_Migration.Models.VM.DokterStatus.DokterLijstVM

@{
    ViewBag.Title = "Dokter Status";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div id="content-container">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div>
            <div class="form-group">
                <label for="ddlDokters">Selecteer een dokter om zijn status te veranderen</label>
                <div>
                    @Html.DropDownListFor(m => m.DokterLijstSelected, Model.DokterLijst, "Dokters",
        new { @onchange = "ddlDoktersOnChange(this.value)", @id = "ddlDokters" })
                </div>
            </div>
            <div>
                <div id="dvDokterStatus"></div>
                <div id="dvLoaderDokterStatus" class="ajax-loader"></div>
            </div>
        </div>
    }
</div>

<script>
    function ddlDoktersOnChange(docId) {
        var $dvLoader = $('#dvLoaderDokterStatus');
        var $dvContent = $("#dvDokterStatus");
        $dvContent.html('');

        if (docId != "") {
            $.ajax({
                type: "GET",
                async: true,
                url: "GetDokterStatus_DokterDetails?docterId=" + docId,
                beforeSend: function () {
                    $dvLoader.show();
                }, success: function (result) {                  
                    $dvContent.html(result);
                }, error: function (jqXHR, textStatus, errorThrown) {
                    $dvContent.html(
                        "<p class=\"alert alert-warning\">Probleem met het verkrijgen van de data.<br />" + textStatus + ": " + errorThrown);
                }, complete: function () {
                    $dvLoader.hide();
                }

            });
        }
    };
</script>
