@model Patient_Transport_Migration.Models.VM.VerplegingOverzicht.VerplegingDienstenLijstVM

@{
    ViewBag.Title = "Verpleging Overzicht";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div>
    <div>
        <div id="dvLoaderPatientenInOrde" class="ajax-loader"></div>
        <div id="dvPatientenInOrde"></div>
    </div>
    <br />
    <div>
        <div id="dvLoaderPatientenWachtend" class="ajax-loader"></div>
        <div id="dvPatientenWachtend"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Load page manually once
        LoadPatientenInOrde();
        LoadPatientenWachtend();
        //Refresh page every x time
        var interval = 300000; //300 Seconds = 5 minutes
        setInterval(LoadPatientenInOrde(), interval);
        setInterval(LoadPatientenWachtend(), interval);
    });

    function LoadPatientenInOrde() {
        var $dvLoaderPIO = $('#dvLoaderPatientenInOrde');
        var $dvContentPIO = $("#dvPatientenInOrde");
        $.ajax({
            type: "GET",
            cache: false,
            async: true,
            url: "GetPatientenInOrde",
            beforeSend: function () {
                $dvContentPIO.html('');
                $dvLoaderPIO.show();
            }, success: function (result) {
                $dvContentPIO.html(result);
            }, error: function (jqXHR, textStatus, errorThrown) {
                $dvPatientDetails.html(
                    "<p class=\"alert alert-warning\">Probleem met het verkrijgen van de data.<br />" + textStatus + ": " + errorThrown);
            }, complete: function () {
                $dvLoaderPIO.hide();
            }
        });
    };

    function LoadPatientenWachtend() {
        var $dvLoaderPW = $('#dvLoaderPatientenWachtend');
        var $dvContentPW = $("#dvPatientenWachtend");
        $.ajax({
            type: "GET",
            async: true,
            cache: false,
            url: "GetPatientenWachtend",
            beforeSend: function () {
                $dvContentPW.html('');
                $dvLoaderPW.show();
            }, success: function (result) {
                $dvContentPW.html(result);
            }, error: function (jqXHR, textStatus, errorThrown) {
                $dvPatientDetails.html(
                    "<p class=\"alert alert-warning\">Probleem met het verkrijgen van de data.<br />" + textStatus + ": " + errorThrown);
            }, complete: function () {
                $dvLoaderPW.hide();
            }
        })
    };
</script>