body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: cornflowerblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#header{

}

#content-container {
    margin:20px auto;
}

#content-left {
    float:left;
    width:50%;
}

#content-right {
    float:left;
    width:50%;
}

#footer {
    clear:both;
}

.ajax-loader {
    /*background-image: url("../Images/cat_waiting.gif");*/
    background-image: url("../Images/ajax-loader.gif");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    display:none;
}