@model Patient_Transport_Migration.Models.VM.AanvraagVM

@{
    @Html.HiddenFor(model => model.Aanvraag.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Aanvraag.AanvraagDoor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            <div class="checkbox">
                @Html.ValueFor(model => model.Aanvraag.AanvraagDoor)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" value="Opslaan" class="btn btn-default" />
        </div>
    </div>
}