@model Patient_Transport_Migration.Models.VM.DokterStatus.DokterDetailsVM

@if (Model.DokterDetails != null) {
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.IsConsultVerwachtend)
        <div class="checkbox">
            @Html.EditorFor(m => m.IsConsultVerwachtend)
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Opslaan" class="btn btn-default" />
    </div>
} else {
    <p>Problemen bij het laden van de aanvraag.</p>
}