@model Patient_Transport_Migration.Models.VM.PatientInfoVM

<div>
    <label for="dllRequestTypes">Selecteer een aanvraag</label>
    <br />
    @Html.DropDownListFor(model => model.AanvraagTypesVM.AanvraagTypeSelected, Model.AanvraagTypesVM.AanvraagTypeLijst, "Aanvragen",
    htmlAttributes: new { id = "dllRequestTypes", onchange = "renderAanvraag(this.value)" })
</div>

<script>
    function renderAanvraag(type) {
        console.log("Type: " + type);
    }
</script>