@model Patient_Transport_Migration.Models.VM.PatientInfo.AanvraagTypesVM

<div>
    <label for="dllRequestTypes">Selecteer een aanvraag</label>
    <br />
    @Html.DropDownListFor(m => m.AanvraagTypeSelected, new SelectList(Model.AanvraagTypeLijst, "Value", "Text"), "Aanvragen",
    htmlAttributes: new { id = "dllRequestTypes", onchange = "renderAanvraag(this.value)" })
    <br />
    <button id="btnLoadSelectedAanvraagType">Maak aanvraag</button>
</div>

<script>
    function renderAanvraag(type) {
        $("#btnLoadSelectedAanvraagType").click(function () {
            //bestaan op de PatientInfo pagina
            var $ajaxLoader = $('dvLoaderAanvraagDetails');
            var $dvContent = $("#dvAanvraagDetails");
            $.ajax({
                type: "GET",
                url: "GetCreateUpdateAanvraagDetails?aanvraagId=&aanvraagTypeId=" + type,
                beforeSend: function () {
                    $dvContent.html('');
                    $ajaxLoader.show();
                },
                success: function (result) {
                    $ajaxLoader.hide();
                    $dvContent.html(result);
                }
            });
        });
    }
</script>