@model Patient_Transport_Migration.Models.VM.VerplegingOverzicht.PatientenInOrdeVM

<table class="table">
    <tr>
        <th>Datum Vervoersaanvraag</th>
        <th>Patient</th>
        <th>Kamer</th>
        <th>Bed</th>
    </tr>

@if (Model.PatientVervoerTakenInOrde != null) {
    foreach (var taak in Model.PatientVervoerTakenInOrde) {
        <tr>
            <td>@taak.DatumGemaakt</td>
            <td>@taak.Aanvraag.Patient.Naam</td>
            <td>@taak.Aanvraag.Patient.Kamer</td>
            <td>@taak.Aanvraag.Patient.BedNr</td>
        </tr>
    }
}
</table>