@model Patient_Transport_Migration.Models.VM.VerplegingOverzicht.PatientenTeVerplaatsenVM

<table class="table">
    <tr>
        <th>Datum Vervoersaanvraag</th>
        <th>Patient</th>
        <th>Kamer</th>
        <th>Bed</th>
    </tr>

    @foreach (var taak in Model.PatientenWachtend) {
        <tr>
            <td>@taak.DatumGemaakt</td>
            <td>@taak.Aanvraag.Patient.Naam</td>
            <td>@taak.Aanvraag.Patient.Kamer</td>
            <td>@taak.Aanvraag.Patient.BedNr</td>
        </tr>
    }

</table>
