@model Patient_Transport_Migration.Models.VM.MaakVervoerAanvraagVM

@{
    ViewBag.Title = "Maak Vervoer Aanvraag";
}

<div id="content-container">
    <div id="content-left">
        <div>
            <label for="dllRequestTypes">Selecteer een aanvraag</label>
            @Html.DropDownListFor(model => model.AanvraagTypesVM.AanvraagTypeSelected, Model.AanvraagTypesVM.AanvraagTypeLijst, "Aanvragen",
    htmlAttributes: new { id = "dllRequestTypes", onchange = "renderAanvraag(this.value)" })
            <br />
            <button id="btnLoadSelectedAanvraagType" style="margin-top:5px;">Maak aanvraag</button>
        </div>
    </div>

    <div id="content-right">
        <div id="dvLoaderAanvraagDetails" class="ajax-loader"></div>
        <div id="dvAanvraagDetails"></div>
    </div>
</div>


<script>
    function renderAanvraag(type) {
        var $dvContent = $("#dvAanvraagDetails");
        if (type == "") {
            $dvContent.html('');
        } else {
            $("#btnLoadSelectedAanvraagType").click(function () {
                //bestaan op de PatientInfo pagina
                var $ajaxLoader = $('dvLoaderAanvraagDetails');
                
                $.ajax({
                    type: "GET",
                    url: "GetCreateUpdateAanvraagDetails?aanvraagId=&aanvraagTypeId=" + type,
                    beforeSend: function () {
                        $dvContent.html('');
                        $ajaxLoader.show();
                    },
                    success: function (result) {
                        $ajaxLoader.hide();
                        $dvContent.html(result);
                    }
                });
            });
        }
    }
</script>
