@model Patient_Transport_Migration.Models.VM.PatientInfo.PatientLijstVM

@{
    ViewBag.Title = "Patiënt Info";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div id="content-container">
    <div id="content-left">
        <div>
            <label for="ddlPatienten">Selecteer een patiënt</label>
            <br />
            @Html.DropDownListFor(m => m.SelectedPatient, new SelectList(Model.Patienten, "Value", "Text", Model.SelectedPatient), "Patienten",
    htmlAttributes: new { @id = "ddlPatienten", @onchange = "ddlPatienten_OnChange(this.value)" })
        </div>

        <div>
            <div id="dvLoaderPatientDetails" class="ajax-loader"></div>
            <div id="dvPatientDetails"></div>
        </div>

        <div>
            <div id="dvPatientMedischeAanvragen"></div>
            <div id="dvLoaderPatientMedischeAanvragen" class="ajax-loader"></div>
        </div>
    </div>
    <div id="content-right">
        <div id="dvLoaderAanvraagDetails" class="ajax-loader"></div>
        <div id="dvAanvraagDetails"></div>
    </div>
</div>

<script>
    $(function () {
        $dvLoaderPatientDetails = $("#dvLoadPatientDetails");
        $dvPatientDetails = $("#dvPatientDetails")
        $dvLoaderMedischeAanvragen = $('#dvLoaderPatientMedischeAanvragen');
        $dvMedischeAanvragen = $("#dvPatientMedischeAanvragen");

        var ddlValue = $("#ddlPatienten").val();
        if (ddlValue != "") {
            ddlPatienten_OnChange(ddlValue);
        }
    });

    function ddlPatienten_OnChange(visitId) {
        $("#dvAanvraagDetails").html('');

        $dvPatientDetails.html('');
        $dvMedischeAanvragen.html('');

        if (visitId != "") {
            $.ajax({
                type: "GET",
                url: "GetPatientInfo_PatientDetails?visitId=" + visitId,
                beforeSend: function () {
                    $dvLoaderPatientDetails.show();
                },
                success: function (result) {
                    $dvLoaderPatientDetails.hide();
                    $dvPatientDetails.html(result);
                }
            });

            $.ajax({
                type: "GET",
                url: "GetPatientInfo_MedischeAanvragen?visitId=" + visitId,
                beforeSend: function () {
                    $dvLoaderMedischeAanvragen.show();
                },
                success: function (result) {
                    $dvLoaderMedischeAanvragen.hide();
                    $dvMedischeAanvragen.html(result);
                }
            });
        }
    }
</script>