@model Patient_Transport_Migration.Models.VM.PatientInfoVM

@{
    ViewBag.Title = "Patiënt Info";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div id="content-container">
    <div id="content-left">
        <div>
            <label for="ddlPatienten">Selecteer een patiënt</label>
            <br />
            @Html.DropDownListFor(model => model.PatientenLijstSelected, Model.PatientenLijst, "Patienten",
    htmlAttributes: new { @id = "ddlPatienten", @onchange = "ddlPatienten_OnChange(this.value)" })
        </div>

        <div id="dvLoadPatientDetails">
            @{Html.RenderPartial("_PatientInfoPatientDetails", Model);}
        </div>

        <div>
            <div id="dvPatientMedischeAanvragen"></div>
            <div id="dvLoaderPatientMedischeAanvragen" class="ajax-loader"></div>
        </div>


    </div>
    <div id="content-right">
        <div id="dvLoaderAanvraagDetails" class="ajax-loader"></div>
        <div id="dvAanvraagDetails"></div>
    </div>
</div>

<script>
    function ddlPatienten_OnChange(visitId) {
        $("#dvLoadPatientDetails").load('GetPatientDetails?visitId=' + visitId);

        var $dvLoaderPMA = $('#dvLoaderPatientMedischeAanvragen');
        var $dvContentPMA = $("#dvPatientMedischeAanvragen");
        $dvContentPMA.html('');

        if (visitId != "") {
            $.ajax({
                type: "GET",
                url: "GetPatientMedischeAanvragen?visitId=" + visitId,
                beforeSend: function () {
                    $dvLoaderPMA.show();
                },
                success: function (result) {
                    $dvLoaderPMA.hide();
                    $dvContentPMA.html(result);
                }

            });
        }
    }
</script>