@model Patient_Transport_Migration.Models.VM.VerplegingOverzicht.VerplegingDienstenLijstVM

@{
    ViewBag.Title = "Verpleging Overzicht";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div>
    <div>
        <h3>Recent vervoerde patienten</h3>
        <div id="dvLoaderPatientenInOrde" class="ajax-loader"></div>
        <div id="dvPatientenInOrde"></div>
    </div>
    <br />
    <div>
        <h3>Patienten wachtend op vervoer</h3>
        <div id="dvLoaderPatientenWachtend" class="ajax-loader"></div>
        <div id="dvPatientenWachtend"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //disable caching of ajax requests
        $.ajaxSetup({ cache: false });
        //Load page manually once
        refreshPatientenInOrde();
        refreshPatientenWachtend();
        //Refresh page every x time
        var interval = 300000; //300 Seconds = 5 minutes
        setInterval(refreshPatientenInOrde(), interval);
        setInterval(refreshPatientenWachtend(), interval);
    });

    function refreshPatientenInOrde() {
        var $dvLoaderPIO = $('#dvLoaderPatientenInOrde');
        var $dvContentPIO = $("#dvPatientenInOrde");
        $.ajax({
            type: "GET",
            url: "GetPatientenInOrde",
            beforeSend: function () {
                $dvContentPIO.html('');
                $dvLoaderPIO.show();
            },
            success: function (result) {
                $dvLoaderPIO.hide();
                $dvContentPIO.html(result);
            }
        });
    }

    function refreshPatientenWachtend() {
        var $dvLoaderPW = $('#dvLoaderPatientenWachtend');
        var $dvContentPW = $("#dvPatientenWachtend");
        $.ajax({
            type: "GET",
            url: "GetPatientenWachtend",
            beforeSend: function () {
                $dvContentPW.html('');
                $dvLoaderPW.show();
            },
            success: function (result) {
                $dvLoaderPW.hide();
                $dvContentPW.html(result);
            }
        })
    }
</script>